/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/genomeassembly -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    email  = 'etrybulec@gmail.com'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 32
    max_memory = '200.GB'
    max_time   = '24.h'
    
    // Input data

    //input  = './samplesheet_test.csv'

    //fastq = './Mo_191_100reads.fastq'
    //db = "./centrifuge_db/p*"
    //busco_lineages_path = "metazoa_odb10"

    // Genome references
    //genome = 'R64-1-1'
}
